<div class="container">
    <form id="form">
        <div class="forms-group col-md-6">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" id="nome" placeholder="nome">
        </div>
        <div class="forms-group col-md-6">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Email">
        </div>
        <div class="forms-group col-md-6">
            <label for="telefone">Fone</label>
            <input type="text" class="form-control" id="telefone" placeholder="telefone">
        </div>
        <div class="forms-group col-md-6">
            <label for="assunto">Assunto</label>
            <input type="text" class="form-control" id="assunto" placeholder="assunto">
        </div>
        <br>
        
        <button  class="btn btn-primary" type="submit" id="btnEnviar">Enviar</button>

    </form>
</div>

